html,body{
  background:#127DAB;
  color:#fff;
  font-size:18px;
  font-weight:600;
}
h1,h2,h3,h4,h5,h6{
  color:#fff;
}
a:link,a:visited{
	color:#fff;
}
p a,p a:link,p a:visited{
  color:#dadada;
}
p a:hover,p a:active{
  color:#ffffda;
}

body>.container{
  padding-top:1em;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 8em;
}

img {
	max-width:100%;
	max-height:30em;
}

header {
  width: 100%;
	background: rgba(255,255,255,0.25);
}
header>div:first-child{
	background: rgba(255,255,255,0.25);
}
header .container{
	padding-bottom:0.25em;
	padding-top:0.25em;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
	min-height:12em;
}

.navbar{
	z-index:1000;
}

.lv1,.lv2{
  background:rgba(255,255,255,0.25);
  margin:0;
  color:#fff;
}
.lv1{
  min-height:5em;
  padding-top:1em;
  margin-top:1.5em;
}
.lv2{
  min-height:3em;
  padding-top:0.75em;
}

/* bootstrap fixes */
.list-group-item,.modal-content,.card-header{
	background:#31a6d8;
}
.card-body{
	background:#333;
}
.card{
	border-color:rgba(0,0,0,.125);
}
.close{
	color:#fff;
	text-shadow:0;
}
.close:hover{
	color:#fff;
}
.modal-content>div:first-child{
	border-bottom-color:#555;
}
.modal-content>div:last-child{
	border-top-color:#555;
}
.modal-body strong{
	text-align:center;
}
code{
	font-size:0.9em;
	color:#ddd;
	background:#000;
}
#cmdnfo .modal-dialog{
	max-width:760px;
}
#cmdnfo video{
	width:100%;
}

.outtadate{
	position: fixed;
	z-index: 100000;
	background: #a00;
	border-radius: 0 0 1em 1em;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 0.5em 1em;
	padding-top: 0.25em;
	font-size: 0.9em;
}